*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@font-face{
    font-family:nightjump;
    src: url("../Fonts/nightjump.regular\(1\).ttf");
}

@font-face{
    font-family:galguna;
    src: url("../Fonts/galguna-free-trial.regular\(1\).otf");
}

html{
    scroll-behavior: smooth;
}

body h2{
    font-family: galguna;
}

body{
    font-family: nightjump;
}

/*--------------------------Header-----------------------------*/

header{
    width:100%;
    height:100px;
    padding:10px;
    background-color:black;

    display:flex;
    align-items: center;
    justify-content: space-between;

    position:sticky;
    top:0px;
}

header nav{
    color:white;
    position:relative;
    right:100px;
}

header nav ul{
    display:flex;
    flex-direction: row;
    font-size: 40px;
}

header nav ul li{
    list-style: none;
    margin:5px;
}

header nav ul li a{
    text-decoration: none;
    color:white;
}

header nav ul li a:hover{
    border-bottom: 1px solid white;
}

header figure{
    width:12%;
}

header figure img{
    width:100%;
}

/*--------------------------Header end-------------------------*/

/*--------------------------Videocontainer-----------------------------*/

div.videocontainer{
    width:100%;
    height:100vh;
    background-color: #EBAD21;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

div.videocontainer video{
    height:70%
}

div.videocontainer section{
    width:20vw;
    height:70%;
    margin-left:2%;

    background-color:black;
    color:white;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    text-align:center;
}

div.videocontainer section .logo{
    width:50%;
}

div.videocontainer section .logo img{
    width:100%;
}

div.videocontainer section h2{
    margin:0 20px;
    font-size: 34px;
}

div.videocontainer section p{
    margin:10px 20px;

    font-size:20px;
}

div.videocontainer section .download{
    margin-top: 15%;
    width:50%;
}

div.videocontainer section .download img{
    width:100%;
}

/*--------------------------Videocontainer end-----------------------------*/

/*--------------------------Infocontainer-----------------------------*/

div.infocontainer{
    width:100%;
    height:100vh;
    background-color:#DF2140;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.One{
    display:flex;
    flex-direction:row;
}

.fig1{
    width:20vw;
    height:30vh;

    margin:5px;
    padding:20px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0, 0.7);
}

div.One article{
    width:40vw;
    height:30vh;

    margin:5px;
    padding:20px;

    background-color: rgba(0,0,0, 0.7);
    color:white;
}

div.One article h2{
    font-size: 40px;
    margin-bottom:5px;
}

div.One article p{
    font-size: 26px;
}

.fig2{
    width:20vw;
    height:30vh;

    margin:5px;
    padding:20px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0, 0.7);
}

div.Two{
    display:flex;
    flex-direction:row-reverse;
}

div.Two article{
    width:40vw;
    height:30vh;

    margin:5px;
    padding:20px;

    background-color: rgba(0,0,0, 0.7);
    color:white;
}

div.Two article h2{
    font-size: 40px;
    margin-bottom:5px;
}

div.Two article p{
    font-size: 26px;
}

.fig3{
    width:20vw;
    height:30vh;

    margin:5px;
    padding:20px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0, 0.7);
}

.fig4{
    width:20vw;
    height:30vh;

    margin:5px;
    padding:20px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0, 0.7);
}

/*--------------------------Infocontainer end-----------------------------*/

/*--------------------------Aboutcontainer-----------------------------*/

div.aboutcontainer{
    width:100%;
    height:100vh;
    background-color:#6BC5E3;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.aboutcontainer article{
    width:20vw;
    height:60vh;

    background-color:black;
    color:white;
    padding:20px;
}

div.aboutcontainer article h2{
    font-size:40px;
    padding-bottom:5px;
}

div.aboutcontainer article p{
    font-size:26px;
}

div.aboutcontainer div{
    width: 60vw;
    height:60vh;

    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-left:2%;
    background-color: rgba(0,0,0, 0.7);
}

div.aboutcontainer div figure{
    width:20%;
    margin:5px;

    text-align: center;
    font-size: 20px;
}

div.aboutcontainer div figure img{
    width:100%;
    border-radius:50%;
}

div.aboutcontainer div figure figcaption{
    color:white;
}

/*--------------------------Aboutcontainer end-----------------------------*/

/*--------------------------Footer-----------------------------*/

footer{
    height:100px;
    background-color:black;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}   

footer div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

footer figure{
    width:15%;
    margin-top:-15px;
}

footer figure img{
    width:100%;
}

footer a{
    color:white;
}

footer p{
    color:white;
}

/*--------------------------Footer end-----------------------------*/